<template>
    <v-container>
        <v-text-field
                label="Search"
                v-model="search"
                required
        ></v-text-field>
        <v-data-table
                :headers="headers"
                :items="filteredUsers"
        >
            <template v-slot:item.avatar="{ item }">
                <img :src="item.avatar"/>
            </template>
            <template v-slot:item.actions="{ item }">
                <div class="my-2">
                    <router-link :to="{ path: 'user/' + item.id}">
                        <v-btn color="primary">Edit</v-btn>
                    </router-link>
                </div>
                <div class="my-2">
                    <v-btn @click="deleteUser(item.id)" color="error">Delete</v-btn>
                </div>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
    export default {
        name: 'user-list',
        props: {
            users: Array
        },
        data() {
            return {
                headers: [
                    {text: 'Id', value: 'id'},
                    {text: 'Name', value: 'name'},
                    {text: 'Email', value: 'email'},
                    {text: 'Avatar', value: 'avatar'},
                    {value: 'actions'}
                ],
                search: ''
            }
        },
        computed: {
            filteredUsers() {
                return this.users.filter(e => e.name.includes(this.search) || e.email.includes(this.search));
            }
        },
        methods: {
            deleteUser(id) {
                this.$store.dispatch('users/deleteUser', id);
            }
        }
    }
</script>

<style scoped>
    img {
        max-width: 100px;
        max-height: 100px;
    }
</style>