<template>
    <p>{{ user.name }}</p>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        props: {
            user: {
                type: Object,
                default: function () {
                    return {name: "noname"};
                }
            }
        }
    }
</script>