<template>
    <div id="app">
        <v-app>
            <router-view :user="getUser(this.$route.params.id)" :users="users"></router-view>
        </v-app>
    </div>
</template>

<script>
    import UserList from "./components/UserList.vue";
    import axios from "axios";
    import {mapActions, mapGetters, mapState} from "vuex";
    import {API_URL} from "./config";

    export default {
        components: {UserList},
        name: 'app',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        },
        mounted() {
            axios.get(API_URL + "/photos?_limit=100")
                .then(response => {
                    let photos = response.data;
                    photos.forEach(e => {
                        this.$store.dispatch('photos/addPhoto', e);
                    });
                });

            axios.get(API_URL + "/users?_limit=10")
                .then(response => {
                    let users = response.data;
                    users.forEach(e => {
                        let photo = this.getRandomPhoto(Math.random());
                        e.avatar = photo.url;
                        this.$store.dispatch('users/addUser', e);
                    });
                });

            axios.get(API_URL + "/albums?_limit=10")
                .then(response => {
                    let albums = response.data;
                    albums.forEach(e => {
                        this.$store.dispatch('albums/addAlbum', e);
                    });
                });
        },
        computed: {
            ...mapState("photos", ["photos"]),
            ...mapState("users", ["users"]),
            ...mapState("albums", ["albums"]),
            ...mapGetters("photos", ["photo", "getRandomPhoto"]),
            ...mapGetters("users", ["getUser"]),
            ...mapActions("photos", ["addPhoto"]),
            ...mapActions("users", ["addUser"]),
            ...mapActions("users", ["addAlbum"])
        },
    }
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
